.flex, .d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.primery-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}