.good-day {
  display: flex;
  align-items: center;

  width: 100%;
  height: 144px;

  background-size: cover;
  background-image: url('~/assets/img/wellcome.png');
  background-repeat: no-repeat;
  background-color: #C7D2FE;
  border-radius: 8px;
  margin: 0 auto;

  p {
    font-size: 28px;
    font-weight: bold;
    margin: 0 40px;
  }
}