.confirm-section {
  position: fixed;
  top: 70px;
  right: 20px;

  width: 350px;
  transition: all .5s;
  opacity: 0;
  transform: translateY(-50px);
  pointer-events: none;

  &.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}

.confirm {
  width: 100%;

  border-radius: 4px;
  box-shadow: 0 0 5px 3px $border;
  background: $colorTheme;
  padding: 10px 10px 3px;
  transition: all .4s;

  p {
    font-weight: bold;
  }
}